<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# My Jupyter Notebook on IBM Watson Studio

**Donghwa Shin**

CEO

*Data Science is interesting because you can support your theory with data*

### The Following code shows Python can do simple calculation ###

In [2]:
(1+3)*6

24

------------

1. First
2. Second

* First
* Second

Table Example

| First  | Second | sum  |
| ------ |:------:| ----:|
| 1      | 2      | 3    |